<!DOCTYPE html>
<html>
  <head>
    <title>Output: Atis Intent Detection</title>
    <style>
      body {
        background: linear-gradient(to bottom right, #00C9FF, #92FE9D);
        font-family: Arial, sans-serif;
      }
      .output {
        margin-top: 20%;
        text-align: center;
      }
      h1 {
        font-size: 36px;
        margin-bottom: 20px;
        color: #333;
        text-shadow: 0 0 5px rgba(255,255,255,0.5);
      }
      p {
        font-size: 20px;
        color: #333;
        text-shadow: 0 0 5px rgba(255,255,255,0.5);
      }
    </style>
  </head>
  <body>
    <div class="output">
      <h1>Output:</h1>
      <p>{{ output }}</p>
    </div>
  </body>
</html>